In [7]:
import pandas as pd
import numpy as np

In [8]:
path_to_file = "/Users/aditgupta/Google Drive/Research/T2D/Summer_2018/meddra_freq.tsv"

In [9]:
df = pd.read_csv(path_to_file,delimiter="\t", header=None)
df.rename(columns={0:'ID'}, inplace=True)

In [10]:
df2 = df.loc[df["ID"].isin(["CID100004547"])]
df2.head()

,ID,1,2,3,4,5,6,7,8,9
104900,CID100004547,CID000065981,C0002962,NaN,1.8%,0.018,0.018,LLT,C0002962,Angina pectoris
104901,CID100004547,CID000065981,C0002962,NaN,1.8%,0.018,0.018,PT,C0002962,Angina pectoris
104902,CID100004547,CID000065981,C0003862,NaN,3%,0.030,0.030,LLT,C0003862,Arthralgia
104903,CID100004547,CID000065981,C0003862,NaN,3%,0.030,0.030,PT,C0003862,Arthralgia
104904,CID100004547,CID000065981,C0003862,NaN,3%,0.030,0.030,PT,C0948594,Musculoskeletal discomfort

In [11]:
df2[9].unique() #these are the side effects of the drug repaglinide 
#after analyzing repaglinide on drugbank, it can be seen to have PPARG as a potential target, which is in shortlist genes of both samples

array(['Angina pectoris', 'Arthralgia', 'Musculoskeletal discomfort',
       'Back pain', 'Bronchitis', 'Chest pain', 'Constipation',
       'Diarrhoea', 'Dyspepsia', 'Headache', 'Hypersensitivity',
       'Hypoglycaemia', 'Nausea', 'Paraesthesia', 'Rhinitis', 'Sinusitis',
       'Tooth disorder', 'Urinary tract infection', 'Vomiting'],
      dtype=object)

In [17]:
df.head()

,ID,1,2,3,4,5,6,7,8,9
0,CID100000085,CID000010917,C0000737,NaN,21%,0.21,0.21,LLT,C0000737,Abdominal pain
1,CID100000085,CID000010917,C0000737,NaN,21%,0.21,0.21,PT,C0000737,Abdominal pain
2,CID100000085,CID000010917,C0000737,NaN,21%,0.21,0.21,PT,C0687713,Gastrointestinal pain
3,CID100000085,CID000010917,C0000737,NaN,5%,0.05,0.05,LLT,C0000737,Abdominal pain
4,CID100000085,CID000010917,C0000737,NaN,5%,0.05,0.05,PT,C0000737,Abdominal pain

In [20]:
df.loc[df['ID'].isin(["CID100005470"])]

Empty DataFrame
Columns: [ID, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Index: []